<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" 
      internalLogFile="C:/temp/nlog-internal.log">

  <extensions>
    <!-- for custom targets -->
    <add assembly="NinjaTrader.Custom"/>
  </extensions>

  <variable name="logDir" value="${specialfolder:folder=MyDocuments}/NinjaTrader 8/NLogLogs/${event-properties:item=StrategyName:whenEmpty=EmptyStrtName}" />
  <variable name="TradeslogDir" value="${specialfolder:folder=MyDocuments}/NinjaTrader 8/NLogLogs/${event-properties:item=StrategyName:whenEmpty=EmptyStrtName}/Trades" />
  <variable name="logFileNameTail" value="${event-properties:item=InstrumentName:whenEmpty=EmptyInstrunemtName}_${event-properties:item=AccountNumber:whenEmpty=EmptyAccountNumber}" />
  <variable name="archiveDateFormat" value="yyyy-MM-dd-HH.mm.ss"/>
  <variable name="maxArchiveFiles" value="10"/>  
  <variable name="layoutshortOriginal" value="${date:format=yyMMdd HH\:mm\:ss.fff}|${level:uppercase=true:format=FirstCharacter}|${callsite:includeNamespace=false}|${message} ${exception:format=tostring}"/>
  <variable name="layoutshort" value="${event-properties:item=SimTime:format=yyMMdd HH\:mm\:ss.fff:whenEmpty=${date:format=yyMMdd HH\:mm\:ss.fff}}|${level:uppercase=true:format=FirstCharacter}|${callsite:includeNamespace=false}|${message} ${exception:format=tostring}"/>
  <targets>
    <!-- Log to a custom file in the NinjaTrader trace folder -->
    <target xsi:type="File" name="diagnostic"
      keepFileOpen="true"
      fileName="${var:logDir}/diagnostic_${var:logFileNameTail}.log"
      archiveFileName="${var:logDir}/archives/diagnostic_${var:logFileNameTail}.{#}.log"
      archiveEvery="Day"
      archiveAboveSize="10242880"
      archiveNumbering="Date"
      archiveDateFormat="${archiveDateFormat}"
      maxArchiveFiles="${maxArchiveFiles}"
      layout="${layoutshort}" />

    <target xsi:type="AsyncWrapper"
        name="asyncTrace"
        queueLimit="10000"
        overflowAction="Discard">

      <target xsi:type="File" name="trace"
        keepFileOpen="true"
        fileName="${var:logDir}/trace_${var:logFileNameTail}.log"
        archiveFileName="${var:logDir}/archives/trace_${var:logFileNameTail}.{#}.log"
        archiveEvery="Day"
        archiveAboveSize="10242880"
        archiveNumbering="Date"
        archiveDateFormat="${archiveDateFormat}"
        maxArchiveFiles="${maxArchiveFiles}"
        layout="${layoutshort}" />
    </target>
    
    <target xsi:type="File" name="TradeLogCSVTarget"
      keepFileOpen="true"
      fileName="${var:TradeslogDir}/Trades_${event-properties:item=InstrumentName:whenEmpty=EmptyInstrunemtName}_${event-properties:item=AccountNumber:whenEmpty=EmptyAccountNumber}_v${gdc:item=TradeCSVSchemaVersion}_${date:format=yyyy-MM}.csv"
      layout="${message}" />

    <target xsi:type="File" name="TradeLogTarget"
      keepFileOpen="true"
      fileName="${var:TradeslogDir}/Trades_${event-properties:item=InstrumentName:whenEmpty=EmptyInstrunemtName}_${event-properties:item=AccountNumber:whenEmpty=EmptyAccountNumber}_v${gdc:item=TradeCSVSchemaVersion}_${date:format=yyyy-MM}.log"
      layout="${message}" />
    
    <!-- NinjaTrader Output Window Target -->
    <target xsi:type="NinjaTraderOutput"
            name="ntOutput"
            layout="${message} ${exception:format=tostring}" />
    
    <!-- Log directly to the Output/Debugger window in Visual Studio -->
    <target xsi:type="Debugger" name="debugger" 
            layout="${time} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Specific logger for trade execution details, logs only to CSV file -->
    <logger name="TradeExecutionCSVLogger" minlevel="Info" writeTo="TradeLogCSVTarget" final="true" />
    <logger name="TradeExecutionLogger" minlevel="Info" writeTo="TradeLogTarget" final="true" />
    <logger name="*" minlevel="${event-properties:item=TraceLogMinLevel:whenEmpty=Trace}" writeTo="asyncTrace" />
    <logger name="*" minlevel="${event-properties:item=DiagnosticLogMinLevel:whenEmpty=Debug}" writeTo="diagnostic,debugger" />
    <logger name="*" minlevel="${event-properties:item=NTOutputMinLevel:whenEmpty=Warn}" writeTo="ntOutput" />
  </rules>
</nlog>
